<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<script src="/static/js/control.js"></script><!--load control javascript -->
<div class="container-fluid">
<!-- Tab listview and matrix view -->
  <ul class="nav nav-tabs nav-pills">
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" href="#listView" style="color:white">List View</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"  data-toggle="tab" href="#matrixView" style="color:white">Matrix View</a>
    </li>
  </ul>
  <!-- End Tab listview and matrix view -->
  <!-- List View -->
  <div class="tab-content">
    <div id="listView" class="container tab-pane fade"><br>
      <!-- header table card -->
      <table class="table">
        <thead class="thead-dark text-center">
          <tr>
            <th style="width: 21%">Price</th>
            <th style="width: 17%">Airline</th>
            <th style="width: 20%">Take-off</th>
            <th>Landing</th>
            <th>Stop(Duration)</th>
          </tr>
        </thead>
      </table>
      <!--End header table card -->
      <!--Show Table card -->
      <p class="showIndex" style="color:black"></p>
      <div id="table_card">
    </div>
    <div class="row align-items-center">
      <div class="col-0 mx-auto">
        <ul class="pagination">

        </ul>
      </div>
    </div>

    </div>
    <!-- End list view -->
    <!-- matrix view -->

    <div id="matrixView" class="container tab-pane active"><br>
      <p class="showIndex" style="color:black"></p>
      <table class="table table-dark">
        <!-- Header table -->
        <thead>
          <tr>
            <th>Price</th>
            <th>Airline</th>
            <th>Take-off</th>
            <th>Landing</th>
            <th>Stop(Duration)</th>
          </tr>
        </thead>
        <!--End header table -->
        <!-- show table -->
        <tbody id='table_body'>
        </tbody>
        <!--End show table -->
      </table>

      <div class="row align-items-center">
        <div class="col-0 mx-auto">
          <ul class="pagination">
          </ul>
        </div>
      </div>
    </div>
    <!-- end matix view -->
  </div>


</div>
